*{
    margin:  0px;
    padding: 0px;
}

body{
    font-family: Poppins;
    color: white;
}

.logo{
    width: auto;
    height: 130px;
    position: relative;
    top: 29px;
    left: -30px;
}


.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 80px;
    margin: 0px 0px 0px 0px;

}

ul, li, a {
    text-decoration: none;
    color: black;
    list-style-type: none;

}

li > a {
    padding: 5px;
    width: 100%;
    display: inline-block;
    text-transform: capitalize;
}

li > a:hover {
    background-color: rgba(246, 0, 176, 0.47);
    padding-left: -5px;
}


ul {
    margin: 5em auto auto 1em;
    line-height: 40px;

}

.wrapper{
    position: absolute;
    top: 0;
    left: 0;
    margin-bottom: 0;
    background-image: url('./bg-6.PNG');
    background-size: cover;
    height: 100%;
    width: 100vw;
    z-index: -4;
    filter: blur(2px);
    
}


.nav-links {
    background-color: white;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    width: 60%;
    z-index: 50;
    transform: translate(100%);
    transition: transform 0.5s ease-in;
}

.nav-active{
    transform: translateX(0%);
}

.hamburger {
position: absolute;
 top: 20px;
 right: 10px;
 cursor: pointer;
 display: block;
}

h1 {
    text-transform: capitalize;
    margin-top: 2.5em;
    font-weight: bolder;
    font-size: 35px;
    width: 80%;
}

section {
    height: 100vmax;
    margin-left: 1em;
}

.first > p {
    margin-top: 0em;
}

.cta {
    display: inline-block;
    text-transform: capitalize;
    font-weight: bold;
    font-size: 15px;
    border: none;
    background-color: rgb(248, 0, 186);
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    margin-top: 45px;
    cursor: pointer;
    box-shadow: 5px 4px 10px 1px rgba(255, 255, 255, 0.621);
}


section.third {
    background-color: rgba(231, 41, 117, 0.788);
    color: white;
    margin: 0;
    padding: 0px 10px 10px 0px;
    height: 120%;
    z-index: -2;
    position: relative;
    bottom: -15px;

}

.review{
    background-color: #FFF;
    color: black;
    margin: 30px 50px 50px 50px;
    height: auto;
    padding: 50px;
    text-align: center;
    box-shadow: 1px 1px 20px -7px black;
}

.review > img {
    width: 70px;
    padding: 15px;
}

.small{
    font-size: smaller;
}

video{
    display: flex;
    border: 3px;
    border-style: inset;
    border-color: rgba(255, 172, 215, 0.922);
    position: relative;
    top: 10%;
    left: 10%;
    background-color: rgba(65, 65, 65, 0.492);

}

.exit-button {
    position: relative;
    top: -60px;
    left: 2px;
    cursor: pointer;
}


#gallery-title{
    color: black;
    margin-top: -130px;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
}

.items > img{
    display: block;
    width: auto;
    height: 150px;
    padding: 0px 25px;
    margin-left: 0%;
    background-color: rgba(120, 131, 128, 0.101);
}

.items > h4 , .items > p {
    color: black;
    font-weight: normal;
}

.flex {
    display: flex;
    justify-content: space-evenly;
    margin: 50px 0px 0px 0px;
    padding: 0px;
}

h3{
    margin-top: 390px;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    text-transform: capitalize;
    padding-top: 15px;
}


.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
    font-size:30px;
	box-shadow: 2px 2px 3px #999;
  z-index:100;
}

.my-float{
	margin-top:16px;
}


footer{
    color: black;
    background-image: linear-gradient(to right, rgb(255, 242, 167), rgb(246, 237, 191));
    height: fit-content;
    padding: 10px 50px 30px 50px;
    text-align: center;
    line-height: 20px;
    border-top-left-radius: 7%;
    border-top-right-radius: 7%;
}

.flex-2 {
    display: flex;
    justify-content: space-evenly;
    margin-top: 15px;
}

.flex-2 > img {
    width: 20px;
    height: 20px;
}

.footer-items > img{
    width: 30px;
    height: 25px;
    margin: 0px;
    padding: 0px;
}


.bold {
    font-weight: bold;
    padding-top: 15px;
}

.spacing{
    padding-top: 15px;
}


@media only screen and (min-width: 300px){
    video{
        width: 260px;
        top: 5%;
    }

    .items > img{
        width: auto;
       
    }
} 


@media only screen and (min-width: 390px){
    video{
        width: 280px;
        top: 15%;
    }

    .items > img{
        width: auto;
       
    }
    h3 {
        margin-top: 270px;
    }
} 

@media only screen and (min-width: 414px){
    video{
        width: 300px;
        top: 15%;
    }

    .items > img{
        width: auto;
       
    }
    h3 {
        margin-top: 280px;
    }
}

@media only screen and (min-width: 500px){
    h3 {
        margin-top: 310px;
    }
}

@media only screen and (min-width: 515px){
    h1{
        width: 90%;
        font-size: 40px;
        margin-top: 2em;
    }

    .first > p {
        font-size: 15x;
    }

    video {
        width: 360px;
        margin-left: 5%;
    }

@media only screen and (min-width: 700px){
    h1{
        width: 90%;
        font-size: 40px;
        margin-top: 2em;
    }

    .first > p {
        font-size: 15x;
    }

    video {
        width: 410px;
        margin-left: 5%;
        top: 70px;
    }

    .cta {
        padding:10px 20px 10px 20px ;
        font-size: medium;
    }

    .review {
        margin: 30px 80px 50px 80px;
    }

    .items > img{
        width: auto;
        height: 170px;
        padding: 0px 25px;
    }

    h3{
        margin-top: 400px;
    }
}


@media only screen and (min-width: 800px){
    h1{
        width: 90%;
        font-size: 40px;
        margin-top: 2em;
    }

    .first > p {
        font-size: 15x;
    }

    video {
        width: 450px;
        margin-left: 8%;
        position: relative;
        top: 7%;
    }

    .cta {
        padding:10px 20px 10px 20px ;
        font-size: medium;
    }

    .review {
        margin: 30px 110px 50px 110px;
    }

    .items > img{
        width: 100%;
        height: 170px;
        padding: 0px 25px;
    }

    .footer-items {
        margin: auto 10% auto 10%;
    }

    #gallery-title{
        margin-top: -150px;
    }

    .nav-links{
        transform: translate(0);
        position: unset;
        display: block;
        width: auto;
        height: auto;
        background: none;
    }


    .hamburger{
        display: none;
    }

    ul{
        display: flex;
        justify-content: space-evenly;
        margin: -70px 10px;
        width: 500px;
    }

   li a {
        color: rgb(248, 248, 248);
        padding:  0.5em 0.1em;
        margin: -5px;
    }

    li > a:hover {
        background-color: unset;

    }

}

@media only screen and (min-width: 850px){

    #gallery-title{
        margin-top: -190px;
    }
}

@media only screen and (min-width: 900px){

    #gallery-title{
        margin-top: -230px;
    }

    h3{
        margin-top: 230px;
    }
}

@media only screen and (min-width: 950px){

    #gallery-title{
        margin-top: -260px;
    }

    h3{
        margin-top: 230px;
    }
}


@media only screen and (min-width: 1000px){

    #gallery-title{
        margin-top: -340px;
    }

    h3{
        margin-top: 230px;
    }
}

@media only screen and (min-width: 1024px){
      
        video{
            width: 500px;
            top: -17px;
            margin-left: 23%;
        }

        h1 {
            font-size: 50px;
            margin-top: 30px;
            width: 60%;

        }

        #gallery-title{
            margin-top: -300px;
        }

        h3{
            margin-top: 150px;
        }

        @media only screen and (min-width: 1100px){

            video{
                width: 450px;
                top: -47px;
                margin-left: 23%;
            }
    
            h1 {
                font-size: 60px;
                margin-top: 30px;
                width: 50%;
            }
    
            #gallery-title{
                margin-top: -390px;
            }
        
    }



    @media only screen and (min-width: 1150px){

        video{
            width: 600px;
            top: -47px;
            margin-left: 23%;
        }

        h1 {
            font-size: 60px;
            margin-top: 30px;
            width: 50%;
        }

        #gallery-title{
            margin-top: -450px;
        }

        @media only screen and (min-width: 1250px){

            video{
                width: 600px;
                top: -47px;
                margin-left: 23%;
            }
    
            h1 {
                font-size: 60px;
                margin-top: 30px;
                width: 50%;
            }

            h3 {
                margin-top: -150px;
            }
    
            #gallery-title{
                margin-top: -550px;
            }

            @media only screen and (min-width: 1335px){

                video{
                    width: 600px;
                    top: -47px;
                    margin-left: 23%;
                }
        
                h3 {
                    margin-top: -200px;
                }
        
                #gallery-title{
                    margin-top: -650px;
                }

                @media only screen and (min-width: 1450px){

                    video{
                        width: 600px;
                        top: -47px;
                        margin-left: 23%;
                    }
            
                    h3 {
                        margin-top: -300px;
                    }
            
                    #gallery-title{
                        margin-top: -800px;
                    }
    
}

                @media only screen and (min-width: 1530px){

                    video{
                        width: 600px;
                        top: -47px;
                        margin-left: 23%;
                    }
            
                    h3 {
                        margin-top: -300px;
                    }
            
                    #gallery-title{
                        margin-top: -800px;
                    }

                    .footer-items {
                        margin: auto 10% auto 10%;
                    }
			
		 @media only screen and (min-height: 800px){
                
                        h3 {
                            margin-top: -30px;
                        }

                        .wrapper {
                            height: 50%;
                        }
    
}
